table {
	border-collapse: separate;
	border-spacing: 2px;
	background-color:darkgray;
}

td {
	background-color:lightgray;
	width:20px;
	height:20px;
	text-align:center;
}

.lost {
	background-color:red;
}

.safe {
	background-color:white;
}

.suspect {
	background-color:black;
}